#breeze-plugins-notice .button {
  text-decoration: none;
  line-height: 20px;
  height: 18px;
  transform: scale(0.9);
}
#breeze-plugins-notice .button:hover {
  text-decoration: none;
  line-height: 20px;
  height: 18px;
  transform: scale(0.9);
}
#breeze-plugins-notice li {
  line-height: 18px;
}
#breeze-plugins-notice .text-error {
  color: #dc3232;
}
#breeze-plugins-notice ul {
  list-style: disc;
  padding-left: 10px;
}

#wp-admin-bar-breeze-topbar * {
  cursor: pointer !important;
}

#wp-admin-bar-breeze-topbar *:hover {
  color: #00b9eb !important;
}

.breeze-box *, ::after, ::before {
  box-sizing: unset;
}

@media screen and (max-width: 782px) {
  #wpadminbar li#wp-admin-bar-breeze-topbar {
    display: block;
    position: static;
  }
}
.br-beta .br-label .br-option-text:after {
  content: "beta";
  margin: 4px 0;
  padding: 4px 8px;
  border: 1px solid #D8D8D8;
  border-radius: 12px;
  display: inline-block;
  height: auto;
  text-align: center;
  font-size: 14px;
  color: #11ACDF;
}